<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Ten to Learn</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css' />
    <link rel='stylesheet' href='/stylesheets/app.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  </head>
  <body>
    <nav>
      <div class='ui stackable borderless menu'>
        <div class='item nav'>
          <a href='/lists'>
            <h1 class="ui header">
              <i class='clockwise rotated asterisk icon'></i>
              <div class="content">
                Ten to Learn
                <div class="sub header">Knowledge 10 bites at a time</div>
              </div>
            </h1>
          </a>
        </div>
        <div class='ui right item'>
          <% if(currentUser) { %>
            <a class='item' href='#'>Signed is as <%= currentUser.username %></a>
            <a class='item' href='/'>Lists</a>
            <a class='item' href='/lists/new'>New List</a>
            <a class='item' href='/logout'>Logout</a>
          <% } else { %>
            <a class='item' href='/login'>Login</a>
            <a class='item' href='/register'>Sign Up</a>
          <% } %>
        </div>
      </div>
    </nav>
    <% if (error && error.length > 0){ %>
      <div class='ui container'>
        <div class="ui red floating icon message">
          <i class="small clockwise rotated asterisk icon"></i>
          <div class="content">
            <div class="ui inverted center aligned header">
              <%= error %>
            </div>
          </div>
        </div>
      </div>
    <% } %>

    <% if (success && success.length > 0){ %>
      <div class='ui container'>
        <div class="ui yellow floating icon message">
          <i class="small clockwise rotated asterisk icon"></i>
          <div class="content">
            <div class="ui inverted center aligned header ">
              <%= success %>
            </div>
          </div>
        </div>
      </div>
    <% } %>
